<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                               http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Customers JSP App</display-name>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMerchFormServlet</servlet-name>
        <servlet-class>AddMerchFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <servlet-class>UpdateCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderServlet</servlet-name>
        <servlet-class>ManageOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderServlet</servlet-name>
        <servlet-class>AddOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMerchFormServlet</servlet-name>
        <url-pattern>/AddMerchFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>myServlet</servlet-name>
        <servlet-class>InsertDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMerchServlet</servlet-name>
        <servlet-class>AddMerchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClubFormServlet</servlet-name>
        <servlet-class>UpdateClubFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMerchFormServlet</servlet-name>
        <servlet-class>UpdateMerchFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMerchServlet</servlet-name>
        <servlet-class>ManageMerchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMerchServlet</servlet-name>
        <servlet-class>UpdateMerchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageImageServlet</servlet-name>
        <servlet-class>ManageImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClubServlet</servlet-name>
        <servlet-class>AddClubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClubServlet</servlet-name>
        <servlet-class>UpdateClubServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myServlet</servlet-name>
        <url-pattern>/insertData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myServlet</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myServlet</servlet-name>
        <url-pattern>/inserts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMerchServlet</servlet-name>
        <url-pattern>/AddMerchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMerchFormServlet</servlet-name>
        <url-pattern>/UpdateMerchFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMerchServlet</servlet-name>
        <url-pattern>/ManageMerchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMerchServlet</servlet-name>
        <url-pattern>/UpdateMerchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageImageServlet</servlet-name>
        <url-pattern>/ManageImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClubServlet</servlet-name>
        <url-pattern>/AddClubServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClubServlet</servlet-name>
        <url-pattern>/UpdateClubServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <url-pattern>/UpdateCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClubFormServlet</servlet-name>
        <url-pattern>/UpdateClubFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderServlet</servlet-name>
        <url-pattern>/ManageOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderServlet</servlet-name>
        <url-pattern>/AddOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>jdbc/myDatasource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
